body { 
    background-color: rgb(37, 37, 37);
    padding: 0;
    margin: 0;
    color: rgb(211, 211, 211);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior-y: contain;
    text-align: center;
}

.canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-bottom: 2.5%;
}

.t01, .t02 {
    flex: 40%;
    max-width: 40%;
    border-collapse: collapse;
    text-align: left;
    vertical-align: center;

    border: 1px solid rgb(121, 121, 121);

}

th {
    background-color: rgb(121, 121, 121);
}

td {
    background-color: rgb(37, 37, 37);
}

input {
    background-color: rgb(37, 37, 37);
    color: rgb(211, 211, 211);
    border: none;
}

select {
    height: 100%;
    background-color: rgb(37, 37, 37);
    color: rgb(211, 211, 211);
    border: none;
    padding: 0;
    margin: 0;
    left: 0;
}