:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: dark;
  color: #f8fbf8ff;
  background-color: #141414;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

code,
.code {
  background-color: #202020;
  color: #f8fbf8ff;
  width: fit-content;
  padding: 2px 4px;
  border-radius: 8px;
  white-space: nowrap;
}

.article-container {
  h2 {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 0;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.375rem;
  }
  h6 {
    font-size: 1rem;
    color: #d2d2d2be;
    margin: 0;
  }
  hr {
    border: none;
    height: 1px;
    background-color: #2c2c2c;
    margin: 2rem 0;
    /* width: 100%; */
  }
  a {
    /* text-decoration: none; */
    color: inherit;
    text-decoration-color: rgba(248, 251, 248, 0.4);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
  }
  iframe {
    border: none;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  .video-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* TODO: remove! */
    display: none;
  }
  /* Change to column on small screens */
  @media (max-width: 600px) {
    .video-container {
      flex-direction: column;
    }
  }
}
