.cardRow {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 2.5%;
    padding-bottom: 2.5%; */
    padding-left: 10%;
    padding-right: 10%;
}

.cardColumn {
    flex: 30%;
    max-width: 30%;
    /* width: 300px; */
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    min-height: 366px;
}

.card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    min-width: 300px;
    /* background-color: rgb(200, 185, 185); */
    border-radius: 8px;
}

.card:hover {
    /* box-shadow: 0 1px 2px 1px rgb(100, 75, 75); */
    box-shadow: 0 0 2px 1px rgb(34, 120, 207);
    /* border: 1px solid rgb(34, 120, 207); */
}

.cardTitle {
    padding: 0 2.5% 0 2.5%;
}


.cardUpper {
    height: 200px;
    z-index: 1;
    /* position: relative; */
    text-align: center;
}

.cardLower {
    padding: 0 2.5% 0 2.5%;
    height: 150px;
    position: relative;
}

.cardText {
    margin: 0;
    padding: 0;
    padding-top: 2.5%;
}

@media (max-width: 2048px) {
    .cardColumn {
        flex: 22%;
        max-width: 22%;
        padding-left: 2.4%;
    }
}

@media (max-width: 1536px) {
    .cardColumn {
        flex: 30%;
        max-width: 30%;
        padding-left: 2.5%;
    }
}



@media (max-width: 1280px) {
    .cardRow {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media (max-width: 1024px) {
    .cardRow {
        padding-left: 1.25%;
        padding-right: 1.25%;
    }
}

@media (max-width: 992px) {
    .cardColumn {
        flex: 44%;
        max-width: 44%;
        padding-left: 4%;
    }
}

@media (max-width: 700px) {
    .cardColumn {
        flex: 60%;
        max-width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .logo {
        display: none;
    }
    .navbar li {
        float: center;
    }
}

@media (max-width: 600px) {
    .cardColumn {
        flex: 70%;
        max-width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .navbar li  {
        display: none;
    }
    .header {
        display: none;
    }
}

@media (max-width: 500px) {
    .cardColumn {
        flex: 80%;
        max-width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}