body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior-y: contain;

  background-color: rgb(230, 220, 220);
  color: rgb(26, 26, 26);
  /* text-align: center; */

  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar { width: 0 }
body::-webkit-scrollbar {display: none;}
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10;
  background-color: rgb(230, 220, 220);
  border-bottom: 1px solid rgb(230, 220, 220);
  vertical-align: middle;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.navbar li {
  float: right;
  padding: 10px;
  line-height: 24px;
}

.navbar li a {
  display: block;
  color: rgb(26, 26, 26);
  text-decoration: none;
}
.navbar li a:hover {
  color: rgb(100, 75, 75);
}




.appBody {
  min-height: 100vh;
  /* /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 90vw; */
  /* top: 48px; */
  padding-top: 56px;
  
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
}







